
.icon-contacts:before { content: '\e04f'; } /* '' */
.icon-picture:before { content: '\e083'; } /* '' */
.icon-mail-1:before { content: '\e09a'; } /* '' */
.icon-align-center:before { content: '\e0d9'; } /* '' */
.icon-menu-outline:before { content: '\e0fd'; } /* '' */
.icon-doc:before { content: '\e730'; } /* '' */